<style>
    li{
        list-style-type: none;
    }
    .active{
        color:#f56158;
    }
</style>
<div class="container">
    <div class="row">
        <div class="nav" ui-sref="stuindex">
            <h5><span class="glyphicon glyphicon-chevron-left" style="margin-left: 7px;" ng-click="back()"></span>我的预约</h5>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12" style="background: #f8f8f8;height: 10px;width: 100%">
        </div>
        <div class="TabNav">
            <ul ng-init='activeTab=1' class="col-xs-12 col-sm-12 col-md-12" style="margin-top: 10px">
                <li ng-class='{active:activeTab==1}' class="col-xs-4 col-sm-4 col-md-4" style="text-align: center;" ng-click='activeTab=1'>
                    全部预约
                </li>
                <li ng-class='{active:activeTab==2}' class="col-xs-4 col-sm-4 col-md-4" style="text-align: center" ng-click='activeTab=2'>
                    未进行
                </li>
                <li ng-class='{active:activeTab==3}' class="col-xs-4 col-sm-4 col-md-4" style="text-align: center" ng-click='activeTab=3'>
                    已结束
                </li>
            </ul>
        </div>

        <div class="TabCon">
            <div ng-show='activeTab==1'>
                <div class="col-xs-12 col-sm-12 col-md-12"
                     ng-repeat="all in appointRecord.allAppointment"
                     style="background: #f8f8f8;padding: 0px;width: 100%;height: 160px;margin-bottom: 10px">
                    <div class="col-xs-5 col-sm-5 col-md-5" style="padding: 0px;margin: 10px 0px 0px 0px">
                        <div style="width:100%;height: 140px;background: url('{{all.buyCourse.course.courseThumbnail}}');background-size: cover;background-repeat: no-repeat">
                        </div>
                    </div>
                    <div class="col-xs-7 col-sm-7 col-md-7" style="padding: 5px 0px 0px 15px;">
                      <h5>{{all.buyCourse.course.courseName}}</h5>
                      <h6><span style="color: #a1a1a1">{{all.buyCourse.coach.coachName}}</span></h6>
                      <h6><span style="color: #a1a1a1">预约时间：{{all.appointmentDate  | date:'yyyy-MM-dd HH:mm'}}</span></h6>
                      <h6>
                          <span style="color: #a1a1a1">预约状态：</span>
                          <span style="color: red">{{all.appointmentResult}}</span>
                      </h6>
                      <button ng-if="all.appointmentResult=='预约中'" ng-click="cancelAppoint(all.id)" class="btn btn-default" style="color: #f56158;border: 1px solid #f56158;background: #ffffff;">取消预约</button>
                    </div>
                </div>

            </div>
            <div ng-show='activeTab==2'>
                <div class="col-xs-12 col-sm-12 col-md-12"
                     ng-repeat="start in appointRecord.appointing"
                     style="background: #f8f8f8;padding: 0px;width: 100%;height: 160px;margin-bottom: 10px">
                    <div class="col-xs-5 col-sm-5 col-md-5" style="padding: 0px;margin: 10px 0px 0px 0px">
                        <div style="width:100%;height: 140px;background: url('{{start.buyCourse.course.courseThumbnail}}');background-size: cover;background-repeat: no-repeat">
                        </div>
                    </div>
                    <div class="col-xs-7 col-sm-7 col-md-7" style="padding: 5px 0px 0px 15px;">
                        <h5>{{start.buyCourse.course.courseName}}</h5>
                        <h6><span style="color: #a1a1a1">{{start.buyCourse.coach.coachName}}</span></h6>
                        <h6><span style="color: #a1a1a1">预约时间：{{start.appointmentDate  | date:'yyyy-MM-dd HH:mm'}}</span></h6>
                        <h6>
                            <span style="color: #a1a1a1">预约状态：</span>
                            <span style="color: red">{{start.appointmentResult}}</span>
                        </h6>
                        <button ng-if="start.appointmentResult=='预约中'" ng-click="cancelAppoint(start.id)" class="btn btn-default" style="color: #f56158;border: 1px solid #f56158;background: #ffffff;">取消预约</button>
                    </div>
                </div>
            </div>
            <div ng-show='activeTab==3'>
                <div class="col-xs-12 col-sm-12 col-md-12"
                     ng-repeat="finish in appointRecord.appointed"
                     style="background: #f8f8f8;padding: 0px;width: 100%;height: 160px;margin-bottom: 10px">
                    <div class="col-xs-5 col-sm-5 col-md-5" style="padding: 0px;margin: 10px 0px 0px 0px">
                        <div style="width:100%;height: 140px;background: url('{{finish.buyCourse.course.courseThumbnail}}');background-size: cover;background-repeat: no-repeat">
                        </div>
                    </div>
                    <div class="col-xs-7 col-sm-7 col-md-7" style="padding: 5px 0px 0px 15px;">
                        <h5>{{finish.buyCourse.course.courseName}}</h5>
                        <h6><span style="color: #a1a1a1">{{finish.buyCourse.coach.coachName}}</span></h6>
                        <h6><span style="color: #a1a1a1">预约时间：{{finish.appointmentDate  | date:'yyyy-MM-dd HH:mm'}}</span></h6>
                        <h6>
                            <span style="color: #a1a1a1">预约状态：</span>
                            <span style="color: red">{{finish.appointmentResult}}</span>
                        </h6>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
