<div class="nav">
    <h5><span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style="margin-left: 5px;" ng-click="back()"
    ></span>返回</h5>
</div>
<div style="background-color: #f8f8f8;height: 5px;"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12"
             style="margin: 5px 0px 0px 0px ;padding: 0px;background-color: #f8f8f8">
            <h4 style="margin-left: 10px">教练建议：</h4>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12"
             style="margin: 10px 0px 0px 0px;padding: 0px;border: 1px solid #E3E3E3;background: #FDF5E6;">
            <div class="col-md-1 col-sm-1 col-xs-1" style="margin:0px;padding: 0px;">
                <div style="width: 5px;height: 150px;background: #f56158;padding: 0px;margin:0px;">
                </div>
            </div>
            <div class="col-md-11 col-sm-11 col-xs-11" style="margin:0px;padding: 0px 10px 0px 0px ;">
                <h4 style="color:#f56158; ">饮食建议：</h4>
                <p><h5 style="line-height: 20px">一定要多吃肉多吃肉多吃肉，恩要多吃肉，多吃肉，多吃甜食，多喝碳酸饮料，多睡觉，恩，就这样</h5></p>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12"
             style="margin: 10px 0px 0px 0px;padding: 0px;border: 1px solid #E3E3E3;background: #F0FFF0;">
            <div class="col-md-1 col-sm-1 col-xs-1" style="margin:0px;padding: 0px;">
                <div style="width: 5px;height: 150px;background: #33cc33;padding: 0px;margin:0px;">
                </div>
            </div>
            <div class="col-md-11 col-sm-11 col-xs-11" style="margin:0px;padding: 0px 10px 0px 0px ;">
                <h4 style="color:#33cc33; ">健身建议：</h4>
                <p><h5 style="line-height: 20px">没事多去跑步多去运动，多走路，多看风景，多看路，多种树，多造福人民，恩，就这样。</h5></p>
            </div>
        </div>
    </div>
</div>
