<style>
    table tr td{
        text-align: center;
    }
</style>
<div class="nav" ui-sref="stuindex">
    <h5><span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style="margin-left: 5px;"
    ></span>返回</h5>
</div>
<div style="background-color: #f8f8f8;height: 5px;"></div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="bs-example" data-example-id="contextual-table">
                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th style="text-align: center">项目</th>
                        <th style="text-align: center">值</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr class="active">
                        <th scope="row">1</th>
                        <td>身高</td>
                        <td>170&nbsp;cm</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>体重</td>
                        <td>58&nbsp;kg</td>
                    </tr>
                    <tr class="success">
                        <th scope="row">3</th>
                        <td>蛋白质</td>
                        <td>11.4&nbsp;kg</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>身体总水分</td>
                        <td>36.6&nbsp;kg</td>
                    </tr>
                    <tr class="info">
                        <th scope="row">5</th>
                        <td>体脂肪量</td>
                        <td>15.8&nbsp;kg</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>无机盐</td>
                        <td>4.1&nbsp;kg</td>
                    </tr>
                    <tr class="warning">
                        <th scope="row">7</th>
                        <td>肌肉量</td>
                        <td>47.1&nbsp;kg</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>身体质量指数</td>
                        <td>24.6&nbsp;kg/m2</td>
                    </tr>
                    <tr class="danger">
                        <th scope="row">9</th>
                        <td>体脂百分比</td>
                        <td>22.3%</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>