<div class="container" style="width: 100%;height:600px;">
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12" style="margin: 0px;padding:0px;top: 10%;">
            <div style="text-align: center;">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"
                      style="font-size: 60px;color:#33cc33;top: 70px;"></span>
            </div>
        </div>

        <div class="col-md-12 col-xs-12 col-sm-12" style="text-align: center;top: 80px;">
            <h4>签到成功</h4>
        </div>
        <div class="col-md-12 col-xs-12 col-sm-12" style="top: 50px;height: 150px;margin: 0px;padding: 0px;">
            <div class="col-md-12 col-xs-12 col-sm-12" style="text-align: center;top: 80px;margin:0px;padding:0px;min-height: 40px">
                <div class="col-md-2 col-xs-2 col-sm-2"></div>
                <div class="col-md-4 col-xs-4 col-sm-4" style="padding: 0px;margin: 0px;">
                    <h5 style="top: 80px;padding: 0px;margin: 0px;float: right;">您的课程：</h5>
                </div>
                <div class="col-md-4 col-xs-4 col-sm-4" style=" padding: 0px;margin: 0px;width: 90px;">
                    <h5 style="color:#f56158; padding: 0px;margin: 0px;width: 100%;">有氧健身操</h5>
                </div>
                <div class="col-md-2 col-xs-2 col-sm-2"></div>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12" style="text-align: center;top: 80px;margin: 0px;padding:0px;min-height: 40px">
                <div class="col-md-2 col-xs-2 col-sm-2"></div>
                <div class="col-md-4 col-xs-4 col-sm-4" style="padding: 0px;margin: 0px;">
                    <h5 style="top: 80px;padding: 0px;margin: 0px;float: right;">您的教练：</h5>
                </div>
                <div class="col-md-4 col-xs-4 col-sm-4" style=" padding: 0px;margin: 0px;width: 62px;">
                    <h5 style="color:#f56158; padding: 0px;margin: 0px;width: 100%;">杨教练</h5>
                </div>
                <div class="col-md-2 col-xs-2 col-sm-2"></div>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12" style="text-align: center;top: 80px;margin: 0px;padding:0px;min-height: 40px">
                <div class="col-md-2 col-xs-2 col-sm-2"></div>
                <div class="col-md-4 col-xs-4 col-sm-4" style="padding: 0px;margin: 0px;">
                    <h5 style="top: 80px;padding: 0px;margin: 0px;float: right;">剩余课次：</h5>
                </div>
                <div class="col-md-4 col-xs-4 col-sm-4" style=" padding: 0px;margin: 0px;width: 30px;">
                    <h5 style="color:#f56158; padding: 0px;margin: 0px;width: 100%;">3</h5>
                </div>
                <div class="col-md-2 col-xs-2 col-sm-2"></div>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12" style="text-align: center;top: 80px;margin: 0px;padding:0px;min-height: 40px">
                <div class="col-md-2 col-xs-2 col-sm-2"></div>
                <div class="col-md-4 col-xs-4 col-sm-4" style="padding: 0px;margin: 0px;">
                    <h5 style="top: 80px;padding: 0px;margin: 0px;float: right;">签到时间：</h5>
                </div>
                <div class="col-md-4 col-xs-4 col-sm-4" style=" padding: 0px;margin: 0px;width: 120px;">
                    <h5 style="color:#f56158; padding: 0px;margin: 0px;width: 100%;">2017-7-5 15:25</h5>
                </div>
                <div class="col-md-2 col-xs-2 col-sm-2"></div>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12" style="margin: 0px;padding: 0px;top: 180px;">
                <p style="text-align: center"><button type="button" class="btn btn-default" style="width: 150px;background: #33cc33;color: #f9f9f9;" ng-click="backHome()">知道了</button></p>
            </div>

        </div>

    </div>
</div>
