<style>
    li{
        list-style-type: none;
    }
    /*横条样式*/
    input[type="range"] {
        width: 100%;
        margin-top: 15px;
        /*background-color: #6aff88;*/
        border: none;
        border-radius: 15px;/*这个属性设置使填充进度条时的图形为圆角*/
        -webkit-appearance: none;/*清除系统默认样式*/
        height:10px;
        margin-bottom: 30px;
    }
    /*拖动块的样式*/
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        cursor: default;
        top: -5px;
        height: 20px;
        width: 20px;
        /*transform: translateY(-4px);*/
        background: none repeat scroll 0 0 #ffffff;
        border-radius: 15px;
        -webkit-box-shadow: 0 -1px 1px #ffecfc inset;
        border: solid 1px #ddd; /*!*设置边框*!*/
    }
   /* !*横条样式*!
    input[type=range] {
        -webkit-appearance: none;!*清除系统默认样式*!
        margin-top: 15px;
        width: 90%;
        background: -webkit-linear-gradient(#61bd12, #61bd12) no-repeat, #ddd;!*设置左边颜色为#61bd12，右边颜色为#ddd*!
        background-size: 75% 100%;!*设置左右宽度比例*!
        height: 5px;!*横条的高度*!
    }
    !*拖动块的样式*!
    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;!*清除系统默认样式*!
        height: 26px;!*拖动块高度*!
        width: 26px;!*拖动块宽度*!
        background: #fff;!*拖动块背景*!
        border-radius: 50%; !*外观设置为圆形*!
        border: solid 1px #ddd; !*设置边框*!
    }*/
</style>
<!--学员对教练进行评价-->
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12" style="text-align: center;margin-top: 4%;">
            <img src="{{courseInfo.coach.coachPicture}}" class="img-circle" style="width: 78px;height: 78px;">
            <h4>{{courseInfo.coach.coachName}}</h4>
            <h6>
                <span style="color: #a1a1a1">课程：</span>
                <span style="color: red">{{courseInfo.course.courseName}}</span>
            </h6>
            <h6><span style="color: #a1a1a1">{{courseInfo.startTime | date:'yyyy-MM-dd HH:mm'}}</span></h6>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12" style="height: 10px;background: #f8f8f8"></div>

        <div class="col-xs-12 col-sm-12 col-md-12" style="margin-top: 10px;margin-bottom: 10px">
            <div ng-if="status==false" class="col-xs-4 col-sm-4 col-md-4" style="text-align: center;color: #259b24;padding: 6px;background: #c4e8c3;border-radius: 10px;font-size: 14px">
                <span class="glyphicon glyphicon-thumbs-up"></span>
                <span>好评</span>
            </div>
            <div ng-if="status==true" class="col-xs-4 col-sm-4 col-md-4" style="text-align: center;color: #e51c23;padding: 6px;background: #fce1e1;border-radius: 10px;font-size: 14px;margin-bottom: 10px">
                <span class="glyphicon glyphicon-thumbs-down"></span>
                <span>投诉留言</span>
            </div>
        </div>
        <div ng-if="status==false" style="padding: 10px;">
            <div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 10px">
                <span>服务一般般</span>
                <span style="float: right">服务特别好</span>
            </div>
            <input type="range" value="10" max="10" min="0" step="2" ng-model="service" style="background-color: #259b24"/>

            <div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 10px">
                <span>教练很普通</span>
                <span style="float: right">教练很专业</span>
            </div>
            <input type="range" value="10" max="10" min="0" step="2" ng-model="speciality" style="background-color: #f2e56f"/>

            <div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 10px">
                <span>不怎么喜欢教练</span>
                <span style="float: right">很喜欢教练</span>
            </div>
            <input type="range" value="10" max="10" min="0" step="2" ng-model="coach" style="background-color: #e51c23"/>

            <div>
                <button class="btn btn-success col-xs-12 col-sm-12 col-md-12" ng-click="sureEvaluate(service,speciality,coach)"
                        style="border:none;background: #50db39;margin-top: 10px;padding: 10px">
                    提交
                </button>
            </div>

            <div ng-if="status==false" class="col-xs-3 col-sm-3 col-md-3" style="text-align: center;color: #e51c23;background: #fce1e1;border-radius: 10px;font-size: 10px;padding: 5px;margin-left: 15px;margin-top: 15px">
                <span ng-click="badEvalute()">我要差评</span>
            </div>
        </div>
        <div ng-if="status==true">
            <textarea ng-model="badEvaluate" class="col-xs-12 col-sm-12 col-md-12"
                 style="border: 1px solid #e5e5e5;height: 100px;padding: 15px;overflow: auto;"/>
            <div class="col-xs-12 col-sm-12 col-md-12" style="margin-top: 15px;padding: 10px">
                <button class="btn btn-success col-xs-6 col-sm-6 col-md-6" ng-click="sureBadEvaluate(badEvaluate)" style="border:none;background: #50db39">提交</button>
                <button class="btn btn-success col-xs-6 col-sm-6 col-md-6" ng-click="cancelBadEvaluate()" style="border:none;background: #f56158">取消</button>
            </div>
        </div>

    </div>
</div>
